APP_ENV=development
AUTH0_ISSUER=https://dev-mz3wmzwe2532icvg.us.auth0.com/
AUTH0_AUDIENCE=https://api.contributions

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

TZ_BUSINESS=America/Guayaquil
RATE_LIMIT_MAX=120
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX_BUCKETS=5000

